.trust {
  color: var(--white);
  padding: 0.1rem 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe7Yi81dqUXUjEuVYUx72iOAJfiMHpM8KRYr0PU397B6d1Becinh1sI3uCNxJy3_LKGLk&usqp=CAU);
}
